@font-face{
  font-family:'MF';
  src:url('hw.ttf');
}

body{
  background-color:#1a1a1a;
}

#topbar{
	height:65px;
	background-color:grey;
	clear:both;
}
#logo{
  text-align:center;
  float:left;
  font-size:50px;
  font-family:'MF';
  width:25%;
}

#wyszukaj{
  padding-top:15px;
  float:left;
  text-align:center;
  width:50%;
  margin:auto;
}

#user{
  background-color:white;
  float:left;
  text-align:center;
  width:25%;
  height:65px;
}

#te{
  width:75%;
  height:40px;
  font-size:15px;
  float:left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color:white;
}
te::placeholder{
  color: white;
  opacity: 1;
}
#te:focus{
  float:left;
  outline:none;
  color:grey;
}

#sButton {
	margin-top:1px;
	font-size:15px;
	outline:none;
	height:39;
	background-color:white;
	border:gray;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	float:left;
	cursor: pointer;
}

#cont{
	margin:20px;
	height:90%;
}	

#kategorie{
	float:left;
	width:20%;
	height:90%;
	margin-right:20px;
	background-color:grey;
	border-radius:10px;
}

#losoferty{
	float:left;
	width:60%;
	height:90%;
	margin-right:20px;
	background-color:grey;
	border-radius:10px;
}

#adv{
	float:left;
	width:17%;
	height:90%;
	background-color:grey;
	border-radius:10px;
}	

